#fotoheader{
    position: absolute;
    z-index: 45;
    width: 100vw;
    height: 97vh;
    display: block;
}

*#headertxt{
    
    margin-top: 60%;
    color: white;
    position: absolute;
    z-index: 99;
    font-size: 50px;
    padding: 20px;
    width: 13em;

}


#horario, #professores,#cardapio, #rematricula, footer, #contato{
    position: absolute;
    z-index: 99;
}


#textohr{
    margin-left: 30%;
}
h4{ 
text-align: justify;
word-spacing: 4px; 
padding: 10px;
font-size: 20px;
 }
h1{
    text-align: center;
    padding: 10px; 
}

td{
    font-size: 90%;
    font-style: italic;
    text-align: center;

}

caption{
    color:darkblue;
    font-size: 20px;
}

h4{ 
    margin: auto; 
    color: darkblue;

 }

 li{

    list-style: square;
 }

 p.a{
     text-align: justify;
 }


 td.a{

     background:rgb(187, 255, 153);
 }
 td.b{
     
     background: yellow;
 }
 td.c{
     background:rgb(255, 128, 255);
 }
 td.d{
     background: rgb(102, 255, 255);
 }
 td.e{
     background: orange;
 }
 td.f{
     background: red;
 }
 td.g{
     background: rgb(0, 204, 102);
 }
 td.h{
     background: rgb(0, 179, 179);

 }
 td.i{
     background: rgb(51, 133, 255);
 }
 td.j{
     background: rgb(120, 255, 31);
 }
 td.k{
     background: rgb(230, 115, 0);
 }
 td.l{
     background: rgb(255, 0, 170);
 }
 td.m{
     background: rgb(255, 112, 77);
 }
 td.n{
     background: rgb(204, 102, 255);
 }
 td.o{
     background: rgb(217, 179, 255);
 }
 td.p{
     background: rgb(179, 179, 0);
 }
 td.z{
     color:black;
 }
 tr.z{
     background: gray;

 }
 img{
     border-top: 10px;
 }
 div{
     border:3px;
 }
 div.a{
     margin-left: auto;
     margin-right: auto;


 }
 table {
        border-collapse: collapse;
        border:3px;
        color: black;
        width: 75%;
        align-self: center;        
}

td{
    font-size: 90%;
    font-style: italic;
    text-align: center;

}

caption{
    color:darkblue;
    font-size: 20px;
}
 td.andrey{

     background:rgb(187, 255, 153);
 }
 td.bia{

     background: yellow;
 }
 td.cris{
     background:rgb(255, 128, 255);
 }
 td.daniel{
     background: rgb(102, 255, 255);
 }
 td.eliana{
     background: orange;
 }
  td.lele{
     background: gray;
 }
 /*Contato*/
#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#contato h2{
    color: #000000;
}

 /*Footer */
 footer{
     text-align: center;
     padding: 10px;
     color: #FFFFFF;
     background-color: #191970;
     margin-top: 37%;
 }
 footer a{
     text-decoration: none;
     color: #00FFFF;
 }
 #btncontact{	
    background-color: #191970;
    outline-color: #191970;
 }
 #headertitle{
     position: absolute;
     z-index: 99;
     text-align: center;
     align-items: center;
     padding: 2px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-content: center;

 }


 /*Mobile Config @MediaQuery*/

 @media screen and (min-width: 768px){
     /*topo*/
    .row{
        justify-content: space-around;
    }
    #fotoheader{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 97vh;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    #headertxt{
    
    margin-top: 60%;
    color: white;
    position: absolute;
    z-index: 99;
    font-size: 50px;
    padding: 20px;
    width: 9em;

}
    }			
/*edição andrey 16.11*/
#content-modal-materias{
    width: 550px;
    text-align: center;
}
#text-center-materias{
    text-align: center;
    margin: 0 auto;
} 

@media screen and (max-width: 1200px){
    #modal-content-horario{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 900px;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
        
    }
    #modal-body-conteudo{
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
}
    @media screen and (max-width: 1000px){
        #modal-body-conteudo{
            width: 750px;
              margin: auto;		
        }
        #modal-content-horario{
            width: 750px;
              margin: auto;		
        }
    }
    /*teste
    @media screen and (max-width: 1440px){
        #headertitle{
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration: none;
            color: white;
            flex-direction: row;
            justify-content: center;
        }
    
    }*/